:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}
h2 {
    text-align: center;
    font-size: 2.4rem;
}

.navbar {
    background-color: var(--bs-gray-400);
    z-index: 40;
    width:100%;
}
.navbar a:hover {
    transform: scale(1.1);
    transition: all 0.7s;
}


.navbar-brand img {
    width: 40%;
}
.navbar-brand img:hover {
    transform: scale(1.3);
    transition: all 0.7s;
}
.nav-link {
    color: var(--bs-link-color);
}

#anchor {
    border-bottom: 5px solid purple;
}
#main {
    width: 97%;
    min-height: 65vh;
    box-shadow: 3px 3px 15px var(--bs-code-color);
    background: linear-gradient(to right, var(--bs-colores));
    animation: BgGradient 5s linear infinite;
}
@keyframes BgGradient {
    0% {
        top: 0;
        left: 25%;
        background: linear-gradient(45deg, rgb(227, 126, 227), pink, rgb(163, 240, 240));
    }
    25% {
        top: 25%;
        left: 50%;
        background: linear-gradient(90deg, pink, rgb(163, 240, 240)), rgb(227, 126, 227);
    }
    50% {
        top: 75%;
        left: 100%;
        background: linear-gradient(135deg, rgb(163, 240, 240), rgb(227, 126, 227)), pink;
    }
    75% {
        top: 50%;
        left: 75%;
        background: linear-gradient(180deg, rgb(227, 126, 227), pink, rgb(163, 240, 240));
    }
    100% {
        top: 25%;
        left: 0;
        background: linear-gradient(225deg, pink, rgb(163, 240, 240)), rgb(227, 126, 227);
    }
}
.carousel {
    width: 100% !important;
    height: 10% !important;
    display: flex !important;
}
.formAndCheck {
    width: 100%;
    height: 5%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.btn-secondary {
    background-color: var(--bs-code-color);
    transition: all 0.7s;
    width:8rem;
    
}

.search {
    min-width: 30%;
    height: 5.5rem;
    padding: 2rem;
}
.search .form-control {
    background-color: var(--bs-gray-300);
    border: 2px solid var(--bs-code-color);
}
.btn-outline-primary {
    color: var(--bs-code-color);
    border: 2px solid var(--bs-code-color);
}
.card {
    width: 20rem;
    margin: 0.5rem 0 1.5rem 0;
    box-shadow: 5px 5px 10px 10px rgb(101, 97, 97) !important;
    
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
}
.card-body a:hover {
    transform: scale(1.1);
    transition: all 0.7s;
    

}
.card img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.7s;
}
#footer {
    width: 100%;
    height: 10vh;
    background-color: var(--bs-gray-400);
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1.5rem 3rem 1rem 3rem;
    align-items: center;
}
#footer svg:hover {
    transform: scale(1.5);
    transition: all 0.7s;
}
.container-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(189, 50, 82);
    background: #e0e0e0;
    padding: 3rem;
    width: 70%;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px;
}

.container-form label {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}
.container-form input:not(#btn) {
    color: rgb(120, 96, 96);
    background-color: transparent;
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgb(233, 157, 175);
    width: 100%;
}
.container-form input:focus {
    border-color: rgb(189, 50, 82);
    outline: 0;
}
.container-form input::placeholder {
    color: rgb(233, 157, 175);
}
.container-form #email {
    margin-bottom: 1.75rem;
}
#btn {
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgb(189, 50, 82), rgb(241, 90, 90));
    padding: 12px 16px;
    margin-top: 2rem;
    border: none;
    border-radius: 0.5rem;
}

#table {
    background: var(--bs-gray-200);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px;
}
#table th {
    background-color: var(--bs-gray-400);
    font-size: 1.5rem;
}


@media screen and (max-width:1190px){
    .formAndCheck{
        flex-direction: column-reverse;
    }
    .search{
        width:100%;
    }
}